*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

main {
    align-items: top;
    background-color: #e5f3f2;
    display: flex;
    height: 50vh;
    justify-content: center;
    min-height: 28rem;
}

.main-form {
    display: block;
    height: 80%;
    text-align: center;
    width: 60%;
}

.idea-logo {
    color: #00a79d;
    display: block;
    font-family: Roboto Slab;
    font-size: 8rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
    padding: 0;
}

.box-logo {
    color: #6d6e71;
}

input {
    border: 1px solid #6d6e71;
    color: #6d6e71;
    display: block;
    font-size: 26px; 
    height: 15%;
    margin-top: 2rem;
    padding: 0 5px;
    width: 100%;
}

input::placeholder {
    color: #00a79d;
}

input:focus {
    background-color: #ccedeb;
    transition-duration: .5s;
}

.submit-button {
    background-color: #00a79d;
    color: #fff;
}

.submit-button:hover {
    background-color: #045e55;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    width: 100%;
}

.ideas-section {
    align-items: center;
    background-color: #fff;
    height: 100%;
    justify-content: center;
    width: 75%;
}

.idea-title-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

input#search {
    height: 4rem;
    width: 100%;
}

article {
    border-bottom: 2px solid #d1d3d4;
    padding: 5% 0;
}

h2 {
    color: #6d6e71;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight:bold;
    margin-bottom: 1em;
    padding-top: 25px;
}

.delete-button {
    background-image: url(images/delete.svg);
}

.delete-button:hover {
    background-image: url(images/delete-hover.svg);
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.3;
}

.voting-buttons {
    align-items: center;
    display: flex;
}

.idea-button {
    background-color: transparent;
    border: none;
    height: 40px;
    margin: 20px 30px 10px 0;
    outline: none;
    width: 40px;
}

.upvote-button {
    background-image: url(images/upvote.svg);
}

.upvote-button:hover {
    background-image: url(images/upvote-hover.svg);
}

.downvote-button {
    background-image: url(images/downvote.svg);
}

.downvote-button:hover {
    background-image: url(images/downvote-hover.svg);
}

h3 {
    color: #6d6e71;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .input-area {
        height: 40vh;
        min-height: 23rem;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .idea-logo {
        font-size: 5rem;
    }

    .output-section {
        margin-top: 40vh;
    }
}

@media screen and (max-width: 580px) {
    .idea-logo {
        font-size: 3rem;
        margin: .5rem;
    }

    input {
        margin-top: 1rem;
    }

    .input-body {
        height: 9rem;
        line-height: 3rem;
    }

    .input-body::placeholder {

    }

}













